.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;

  .close {
    svg {
      color: #63d66b;
      font-size: 50px;
    }
  }

  .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100vw;
      margin-top: 100px;

      a{
          text-decoration: none;
          color: black;
          font-size: 28px;
          transition: all .3s ease-in-out;


          &:hover{
            transform: translate(10px);
            border-bottom: 3px solid #63d66b;
          }

      }
  }

  .logo{
      position: absolute;
      width: 100vw;
      display: flex;
      justify-content: center;

      img{
          margin-top: 20px;
          height: 70px;
      }
  }
}
